@import "variables";
@import "../../mixins";

@mixin modal-box {
  .shapla-modal-box {
    background-color: $surface;
    border-radius: 4px;
    padding: $modal-card-body-padding;
    @include shadow-24dp();
  }
}
