@import "variables";
@import "../../mixins";

@mixin modal-core {
  .shapla-modal,
  .shapla-modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .shapla-modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: var(--modal-z, #{$modal-z});

    &.is-active {
      display: flex;
    }

    &-background {
      background-color: var(--modal-backdrop-dark, rgba(0, 0, 0, 0.5));

      &.is-light {
        background-color: var(--modal-backdrop-light, rgba(255, 255, 255, 0.5));
      }
    }

    .shapla-delete-icon.is-fixed,
    .shapla-modal-close.is-fixed {
      position: fixed;
      right: var(--modal-close-right, #{$modal-close-right});
      top: var(--modal-close-top, #{$modal-close-top});
    }

    &-content {
      --modal-content-margin: #{$modal-content-margin-mobile};
      --modal-content-width: calc(100% - var(--modal-content-margin) * 2);
      --modal-content-width-small: #{$modal-content-width-small};
      --modal-content-width-medium: #{$modal-content-width-medium};
      --modal-content-width-large: #{$modal-content-width-large};
      margin: 0 var(--modal-content-margin);
      max-height: calc(100vh - var(--modal-content-spacing, #{$modal-content-spacing-mobile}));
      overflow: auto;
      position: relative;
      width: var(--modal-content-width);

      &.is-small {
        --modal-content-width: var(--modal-content-width-small);
      }

      &.is-full {
        height: calc(100vh - (var(--modal-content-margin) * 2));
        width: calc(100vw - (var(--modal-content-margin) * 2));
      }

      @include media('tablet') {
        margin: 0 auto;
        --modal-content-spacing: #{$modal-content-spacing-tablet};

        &:not(.is-small):not(.is-full):not(.is-large) {
          --modal-content-width: var(--modal-content-width-medium);
        }
      }

      @include media('desktop') {
        &.is-large {
          --modal-content-width: var(--modal-content-width-large);
        }
      }
    }
  }
}
