@use "sass:color";
@import "functions";

$color--white: #ffffff !default;
$color--gray-100: #F5F5F5 !default;
$color--gray-200: #EEEEEE !default;
$color--gray-300: #E0E0E0 !default;
$color--gray-400: #BDBDBD !default;
$color--gray-500: #9E9E9E !default;
$color--gray-600: #757575 !default;
$color--gray-700: #616161 !default;
$color--gray-800: #424242 !default;
$color--gray-900: #121212 !default;
$color--black: #000000 !default;
$color--blue: #0d6efd !default;
$color--green: #198754 !default;
$color--yellow: #ffc107 !default;
$color--red: #dc3545 !default;

$color--primary: $color--blue !default;
$color--on-primary: findColorInvert($color--primary) !default;
$color--primary-variant: color.scale($color--primary, $lightness: -10%) !default; // #0262ef;
$color--primary-alpha: rgba($color--primary, .25) !default;

$color--secondary: $color--gray-600 !default;
$color--on-secondary: findColorInvert($color--secondary) !default;
$color--secondary-variant: darken($color--secondary, 5) !default;
$color--secondary-alpha: rgba($color--secondary, .25) !default;

$color--success: $color--green !default;
$color--on-success: findColorInvert($color--success) !default;
$color--success-variant: darken($color--success, 5) !default;
$color--success-alpha: rgba($color--success, .25) !default;

$color--error: $color--red !default;
$color--on-error: findColorInvert($color--error) !default;
$color--error-variant: darken($color--error, 5) !default;
$color--error-alpha: rgba($color--error, .25) !default;

$color--warning: $color--yellow !default;
$color--on-warning: findColorInvert($color--warning) !default;
$color--warning-variant: darken($color--warning, 5) !default;
$color--warning-alpha: rgba($color--warning, .25) !default;

$color--background: $color--white !default;
$color--surface: $color--white !default;
$color--on-surface: findColorInvert($color--surface) !default;

$color--text-primary: rgba($color--black, .87) !default;
$color--text-secondary: rgba($color--black, .54) !default;
$color--text-tertiary: rgba($color--black, .38) !default;
$color--text-hint: rgba($color--black, .38) !default;
$color--text-disabled: rgba($color--black, .38) !default;
$color--text-icon: rgba($color--black, .38) !default;

$color--background-dark: $color--gray-900 !default;
$color--surface-on-dark: $color--gray-800 !default;
$color--text-primary-on-dark: $color--white !default;
$color--text-secondary-on-dark: rgba($color--white, .7) !default;
$color--text-tertiary-on-dark: rgba($color--white, .5) !default;
$color--text-hint-on-dark: rgba($color--white, .5) !default;
$color--text-disabled-on-dark: rgba($color--white, .5) !default;
$color--text-icon-on-dark: rgba($color--white, .5) !default;

$black-rgb: var(--shapla-black-rgb, to-rgb($color--black)) !default;
$white-rgb: var(--shapla-white-rgb, to-rgb($color--white)) !default;
// Reassign color to change with CSS variable
$primary: var(--shapla-primary, $color--primary) !default;
$primary-rgb: var(--shapla-primary-rgb, to-rgb($color--primary)) !default;
$on-primary: var(--shapla-on-primary, $color--on-primary) !default;
$primary-variant: var(--shapla-primary-variant, $color--primary-variant) !default;
$primary-alpha: var(--shapla-primary-alpha, $color--primary-alpha) !default;

$secondary: var(--shapla-secondary, $color--secondary) !default;
$secondary-rgb: var(--shapla-secondary-rgb, to-rgb($color--secondary)) !default;
$secondary-variant: var(--shapla-secondary-variant, $color--secondary-variant) !default;
$on-secondary: var(--shapla-on-secondary, $color--on-secondary) !default;
$secondary-alpha: var(--shapla-secondary-alpha, $color--secondary-alpha) !default;

$success: var(--shapla-success, $color--success) !default;
$success-rgb: var(--shapla-success-rgb, to-rgb($color--success)) !default;
$success-variant: var(--shapla-success-variant, $color--success-variant) !default;
$on-success: var(--shapla-on-success, $color--on-success) !default;
$success-alpha: var(--shapla-success-alpha, $color--success-alpha) !default;

$error: var(--shapla-error, $color--error) !default;
$error-rgb: var(--shapla-error-rgb, to-rgb($color--error)) !default;
$error-variant: var(--shapla-error-variant, $color--error-variant) !default;
$on-error: var(--shapla-on-error, $color--on-error) !default;
$error-alpha: var(--shapla-error-alpha, $color--error-alpha) !default;

$warning: var(--shapla-warning, $color--warning) !default;
$warning-rgb: var(--shapla-warning-rgb, to-rgb($color--warning)) !default;
$warning-variant: var(--shapla-warning-variant, $color--warning-variant) !default;
$on-warning: var(--shapla-on-warning, $color--on-warning) !default;
$warning-alpha: var(--shapla-warning-alpha, $color--warning-alpha) !default;

$background: var(--shapla-background, $color--background) !default;
$surface: var(--shapla-surface, $color--surface) !default;
$surface-secondary: var(--shapla-surface-secondary, $color--gray-100) !default;
$on-surface: var(--shapla-on-surface, $color--on-surface) !default;

$text-rgb: var(--shapla-text-rgb, $black-rgb) !default;
$text-primary: var(--shapla-text-primary, $color--text-primary) !default;
$text-secondary: var(--shapla-text-secondary, $color--text-secondary) !default;
$text-tertiary: var(--shapla-text-tertiary, $color--text-tertiary) !default;
$border-color: var(--shapla-border-color, rgba(var(--shapla-text-rgb), 0.12)) !default;
$border-color-dark: var(--shapla-border-color-dark, rgba(var(--shapla-text-rgb), 0.30)) !default;
$text-hint: var(--shapla-text-hint, $color--text-hint) !default; // @depreciated
$text-disabled: var(--shapla-text-disabled, $color--text-disabled) !default; // @depreciated
$text-icon: var(--shapla-text-icon, $color--text-icon) !default; // @depreciated
