@use "sass:color";
@import "functions";
@import "colors";

$dark-theme--background: #121212 !default;
$dark-theme--surface: #121212 !default;
$dark-theme--text-primary: $color--white !default;
$dark-theme--text-secondary: rgba($color--white, .7) !default;
$dark-theme--text-tertiary: rgba($color--white, .5) !default;
